#giveUsATopGap{
    min-height: 500px;
}


.subCol1, .subCol2{
    min-height: 250px;
}

.footer{
    min-height: 300px;
}



.navbar_img1{
    max-width: 200px;
}

.navbar_img1:hover{
    max-width: 320px;
}

.topSection{
    min-height: 200px;
    margin-top: 250px;
}

.firstColImg, .secondColImg, .thirdColImg{
    max-height: 400px;
    max-width: 400px;
}



.carouselImg1,.carouselImg2,.carouselImg3,.carouselImg4{
max-height: 600px;
max-width: 600px;

}

.carouselImg1,.carouselImg2,.carouselImg3,.carouselImg4{
    position: relative;
    left: 400px;
}






.carousel{
    margin-top:50px;
    margin-bottom: 50px;
}



.bottomCol1,.bottomCol2,.bottomCol3,.bottomCol4,.bottomCol5,.bottomCol6{
    max-height: 300px;
}




