#giveUsATopGap{
    min-height: 500px;
}


.subCol1, .subCol2{
    min-height: 250px;
}

.footer{
    min-height: 300px;
}



.navbar_img1{
    max-width: 200px;
}

.navbar_img1:hover{
    max-width: 320px;
}

.topSection{
    min-height: 200px;
    margin-top: 250px;
}

.firstColImg, .secondColImg, .thirdColImg{
    max-height: 300px;
    max-width: 300px;
}

.firstColImg,.secondColImg:hover,.thirdColImg:hover{
    max-width: 500px;
    max-height: 500px;
}



.imgCarousel1,.imgCarousel2,.imgCarousel3,.imgCarousel4{
    max-height: 900px;
    
}

.imgCarousel1{
    position: relative;
    left: 300px;
}


.imgCarousel2{
    position: relative;
    left: 400px;
}

.imgCarousel3{
   position: relative;
    left: 350px;
}

.imgCarousel4{
    position: relative;
    left: 200px;
}



.bottomCol1,.bottomCol2,.bottomCol3,.bottomCol4,.bottomCol5,.bottomCol6{
    max-height: 300p;
}

